body {
    background-color: #0a0c1b;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Lexend Deca";
}

.main-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #181530;
    width: 80vw;
    height: 60vh;
    display: flex;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    grid-area: main;
}

.main-content {
    background-color: #181530;
    height: 100%;
    width: 50%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: left;
}

.img-container {
    height: 100%;
    width: 50%;
    background: url("images/image-header-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 6px;
    opacity: 0.5;
    border-bottom-right-radius: 6px;
    position: absolute;
    right: 0;
    grid-area: img;
}

img {
    object-fit: cover;
}

.img-overlay {
    height: 100%;
    width: 50%;
    background: #700ca7;
    background-size: cover;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    right: 0;
    grid-area: img;
}

.purple {
    color: hsl(277, 64%, 61%);
}

.first-h1 {
    font-weight: 700;
    font-size: clamp(30px, 2.52vw, 40px);
    padding: 20px 20px 0 50px;
}

.first-h1,
.stat-headings {
    color: hsl(0, 0%, 100%);
}

.main-p {
    color: hsla(0, 0%, 100%, 0.75);
    padding: 0 20px 0 50px;
    font-family: "Inter";
    font-size: clamp(11px, 1.05vw, 18px);
}

.stats {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: clamp(11px, 1.05vw, 18px);
}

.stat-headings {
    font-weight: 700;
    font-size: clamp(20px, 1.68vw, 28px);
}

.stats-container {}

table {
    width: 90%;
    /* margin: auto; */
    padding: 50px 20px 0 50px;
}

th {}

@media screen and (max-width: 800px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid: ". img ." ". main .";
        overflow-y: auto;
    }
    .main-container {
        display: block;
        width: 90%;
        border-radius: 6px;
    }
    .img-container {
        /* position: absolute;
        top: 10%;
        right: 50%;
        left: 50%; */
        position: static;
        height: 100%;
        width: auto;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 0;
        margin-bottom: -20px;
        background-size: cover;
        opacity: 1;
    }
    .img-overlay {
        /* position: static; */
        width: 100%;
        /* height: 100%; */
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 0;
        opacity: 0.5;
        /* background-size: contain; */
    }
    .main-content {
        position: static;
        /* top: 10%;
        right: 50%;
        left: 50%; */
        width: 100%;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 0;
    }
}